.cropManagementLayout {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media (min-width: 1024px) {
    .cropManagementLayout {
        flex-direction: row;
        gap: 2rem;
    }
}

.cropSelectorPanel {
    width: 100%;
    max-height: 500px;
    overflow: hidden;
}

@media (min-width: 1024px) {
    .cropSelectorPanel {
        width: 33.333%;
        flex-shrink: 0;
        position: sticky;
        top: 90px;
        max-height: calc(100vh - 110px);
    }
}

.cropDetailsPanel {
    flex: 1;
    width: 100%;
    min-height: 600px;
}

@media (min-width: 1024px) {
    .cropDetailsPanel {
        width: 66.667%;
    }
}